<Config>
  <LogLevel>debug</LogLevel>
  <BindAddress>*</BindAddress>
  <EnableSsl>False</EnableSsl>
  <Port>{{ item.value.port }}</Port>
  <UrlBase>{{ item.key }}</UrlBase>
  <ApiKey>{{ secrets.api_keys[item.key] }}</ApiKey>
  <AuthenticationMethod>None</AuthenticationMethod>
  <UpdateMechanism>Docker</UpdateMechanism>
  <LaunchBrowser>True</LaunchBrowser>
  <AnalyticsEnabled>False</AnalyticsEnabled>
</Config>
