---
title: "Mediaserver"
subtitle: ""
icon: "fab fa-raspberry-pi"

header: true
footer: false
links: []

columns: 3 # "auto" or number (must be a factor of 12: 1, 2, 3, 4, 6, 12)
connectivityCheck: true # whether you want to display a message when the apps are not accessible anymore (VPN disconnected for example)

services:
  - name: "Applications"
    icon: "fas fa-play"
    items:
      - name: Radarr
        type: Radarr
        apikey: {{ secrets.api_keys["radarr"] }}
        url: http://{{ ansible_host }}/radarr
        logo: http://{{ ansible_host }}/radarr/Content/Images/logo.png

      - name: Sonarr
        type: Sonarr
        apikey: {{ secrets.api_keys["sonarr"] }}
        url: http://{{ ansible_host }}/sonarr
        logo: http://{{ ansible_host }}/sonarr/Content/Images/logo.svg

      - name: qBittorrent
        url: http://{{ ansible_host }}:{{ containers.qbittorrent.port }}
        logo: http://{{ ansible_host }}:{{ containers.qbittorrent.port }}/images/qbittorrent-tray.svg

      - name: Prowlarr
        type: Prowlarr
        apikey: {{ secrets.api_keys["prowlarr"] }}
        url: http://{{ ansible_host }}/prowlarr
        logo: http://{{ ansible_host }}/prowlarr/Content/Images/logo.svg

      - name: Jellyfin
        url: http://{{ ansible_host }}:{{ containers.jellyfin.port }}
        logo: http://{{ ansible_host }}:{{ containers.jellyfin.port }}/web/assets/img/icon-transparent.png

      - name: Datadog
        url: https://app.datadoghq.com
        logo: https://static.datadoghq.com/static/c/bits_reversed-570337bd5ba02fd91283e8932d0298df.svg
