---
containers:
  radarr:
    port: 7878
    volumes:
      - /data/state/radarr/config.xml:/config/config.xml
      - /data/state/radarr/radarr.db:/config/radarr.db
      - /data/state/radarr/radarr.db-wal:/config/radarr.db-wal
      - /data/state/radarr/MediaCover:/config/MediaCover
      - /data/media:/media

  sonarr:
    port: 8989
    volumes:
      - /data/state/sonarr/config.xml:/config/config.xml
      - /data/state/sonarr/sonarr.db:/config/sonarr.db
      - /data/state/sonarr/sonarr.db-wal:/config/sonarr.db-wal
      - /data/state/sonarr/MediaCover:/config/MediaCover
      - /data/media:/media

  prowlarr:
    port: 9696
    volumes:
      - /data/state/prowlarr/config.xml:/config/config.xml
      - /data/state/prowlarr/prowlarr.db:/config/prowlarr.db
      - /data/state/prowlarr/prowlarr.db-wal:/config/prowlarr.db-wal

  qbittorrent:
    port: 8585
    volumes:
      - /data/state/qbittorrent/qBittorrent.conf:/config/qBittorrent/config/qBittorrent.conf
      - /data/media/downloads:/media/downloads

  jellyfin:
    port: 8096
    volumes:
      - /data/state/jellyfin:/config
      - /data/media/libraries:/media/libraries

homer:
  # renovate: datasource=github-releases depName=bastienwirtz/homer
  version: v25.05.2

themepark:
  theme: organizr
  # renovate: datasource=github-releases depName=themepark-dev/theme.park
  version: 1.21.3

nginx_datadog:
  # renovate: datasource=github-releases depName=DataDog/nginx-datadog
  version: v1.9.0

default:
  oci_registry: ghcr.io/hadrienpatte
  version: latest
  env: prod
