---
"on":
  - push
jobs:
  yamllint:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd  # v6.0.2
      - run: pip3 install -r requirements.txt
      - run: yamllint .

  ansible-lint:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd  # v6.0.2
      - run: pip3 install -r requirements.txt
      - run: ansible-lint playbook.yml
