---
"on":
  - push
jobs:
  yamllint:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd  # v5.0.1
      - run: pip3 install -r requirements.txt
      - run: yamllint .

  ansible-lint:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd  # v5.0.1
      - run: pip3 install -r requirements.txt
      - run: ansible-lint playbook.yml
